<header class="bg-gray-900 text-white">
  <div class="container mx-auto px-4 py-6 flex justify-between items-center">
    <a href="index.html"><h1 class="text-2xl font-bold">>_</h1></a>

    <h3
      id="typewriter"
      class="text-sm font-mono text-blue-400 h-6 after:content-['|'] after:animate-pulse"
    ></h3>

    <nav class="space-x-4">
      <div class="flex justify-center items-center hover:text-yellow-300">
        <a href="https://github.com/h-ssh"> @h-ssh</a>
      </div>
      <a href="index.html" class="text-blue-400">Home</a>
      <a href="about.html" class="hover:text-red-600">About</a>
      <a href="projects.html" class="hover:text-red-600">Projects</a>
      <a href="articles.html" class="hover:text-red-600">Articles</a>
    </nav>
  </div>
</header>
